
  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav site-header">
    <div class="navigation-container site-header-inner">
      <a href="" class="logo w-inline-block site-header-logo">
        <img src="/projects/most/images/logo-header.svg" alt="" class="image-logo site-header-logo-image" data-pagespeed-url-hash="2885503100" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu site-header-nav">
        <a href="category/politics" class="navigation-link w-inline-block">
          <div class="navigation-link-text">Политика</div>
          <div class="navigation-hover"></div>
        </a>
        <a href="category/conflicts" class="navigation-link w-inline-block">
          <div class="navigation-link-text">Конфликты</div>
          <div class="navigation-hover"></div>
        </a>
        <a href="category/economy" class="navigation-link w-inline-block">
          <div class="navigation-link-text">Экономика</div>
          <div class="navigation-hover"></div>
        </a>
        <a href="category/opinions" class="navigation-link w-inline-block">
          <div class="navigation-link-text">Мнения</div>
          <div class="navigation-hover"></div>
        </a>
        <a href="category/culture" class="navigation-link w-inline-block">
          <div class="navigation-link-text">Культура</div>
          <div class="navigation-hover"></div>
        </a>
        <button class="button button-icon button-ghost site-header-search" data-search-toggle="" aria-haspopup="dialog" aria-controls="search-modal" aria-expanded="false" aria-label="label">
          <svg class="icon" aria-hidden="true" focusable="false">
            <use xlink:href="/projects/most/icons/sprite.svg#icon-search"></use>
          </svg>
        </button>
        <a href="support" class="navigation-link-subscribe w-inline-block site-header-cta">
          <div class="navigation-link-text-subscribe visible-lg">Поддержать</div>
        </a>
      </nav>
      <div class="navigation-actions site-header-actions">
        <div id="sandwichbutton" class="menu-button w-nav-button" onclick="sandwich()">
          <div class="icon-200 w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0" style="height: 100%; display: none">
    <div class="nav-overlay">
      <form class="nav-overlay-form" action="action" data-search-form="" role="search">
        <input class="nav-overlay-input" name="param" type="search" data-search-input="" placeholder="placeholder" autocomplete="off" spellcheck="false" data-ms-editor="true" />
        <button class="nav-overlay-submit button button-icon button-ghost" type="submit" aria-label="submit_label">
          <svg class="icon" aria-hidden="true" focusable="false">
            <use xlink:href="/projects/most/icons/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <nav
        role="navigation"
        class="nav-menu w-nav-menu"
        style="
          transition:
            all,
            transform 400ms;
          transform: translateY(0px) translateX(0px);
          display: none !important;
        "
        data-nav-menu-open="">
        <a href="/ru/category/politics" class="navigation-link w-inline-block"><div class="navigation-link-text">Политика</div></a>
        <a href="/ru/category/conflicts" class="navigation-link w-inline-block"><div class="navigation-link-text">Конфликты</div></a>
        <a href="/ru/category/economy" class="navigation-link w-inline-block"><div class="navigation-link-text">Экономика</div></a>
        <a href="/ru/category/opinions" class="navigation-link w-inline-block"><div class="navigation-link-text">Мнения</div></a>
        <a href="/ru/category/culture" class="navigation-link w-inline-block"><div class="navigation-link-text">Культура</div></a>
        <a href="/ru/special-projects" class="navigation-link w-inline-block"><div class="navigation-link-text">Спецпроекты</div></a>
        <a href="/ru/support" class="navigation-link-subscribe w-inline-block"><div class="navigation-link-text-subscribe">Поддержать</div></a>
      </nav>
    </div>
  </div>
  <section class="search-modal" id="search-modal" data-search-modal="" data-search-results="results_page" data-search-param="param" role="dialog" aria-modal="true" aria-labelledby="search-modal-title" aria-hidden="true">
    <div class="search-modal-backdrop" data-search-dismiss=""></div>
    <div class="search-modal-content" role="document">
      <form class="search-modal-form" action="action" data-search-form="" role="search">
        <label class="visually-hidden" for="search-query"> input_label </label>
        <input class="search-modal-input" id="search-query" name="param" type="search" data-search-input="" placeholder="placeholder" autocomplete="off" spellcheck="false" data-ms-editor="true" />
        <button class="button button-icon button-ghost search-modal-submit" type="submit" aria-label="submit_label">
          <svg class="icon" aria-hidden="true" focusable="false">
            <use xlink:href="/projects/most/icons/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <ul class="search-modal-suggestions" aria-label="examples_title">
        <li>
          <a class="button search-modal-suggestion" href="ehref">
            <svg class="icon icon-sm" aria-hidden="true" focusable="false">
              <use xlink:href="/projects/most/icons/sprite.svg#icon-sm-search"></use>
            </svg>
            eq
          </a>
        </li>
        <li>
          <a class="button search-modal-suggestion" href="xhref">
            <svg class="icon icon-sm" aria-hidden="true" focusable="false">
              <use xlink:href="/projects/most/icons/sprite.svg#icon-sm-search"></use>
            </svg>
            xq
          </a>
        </li>
        <li>
          <a class="button search-modal-suggestion" href="ahref">
            <svg class="icon icon-sm" aria-hidden="true" focusable="false">
              <use xlink:href="/projects/most/icons/sprite.svg#icon-sm-search"></use>
            </svg>
            aq
          </a>
        </li>
        <li>
          <a class="button search-modal-suggestion" href="mhref">
            <svg class="icon icon-sm" aria-hidden="true" focusable="false">
              <use xlink:href="/projects/most/icons/sprite.svg#icon-sm-search"></use>
            </svg>
            mq
          </a>
        </li>
      </ul>
    </div>
  </section>
  <script src="/projects/most/js/search.js?v=202510141238" type="module"></script>
