@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
:root {
    --h-red: 7;
    --s-red: 82%;
    --l-red: 63%;
    --h-yellow: 50;
    --s-yellow: 94%;
    --l-yellow: 48%;
    --h-green: 128;
    --s-green: 44%;
    --l-green: 48%;
    --h-blue: 205;
    --s-blue: 100%;
    --l-blue: 51%;
    --h-purple: 247;
    --s-purple: 37%;
    --l-purple: 45%;
    --h: var(--h-blue);
    --s: var(--s-blue);
    --l: var(--l-blue);
    --color-brand-primary-base: hsl(var(--h),var(--s),var(--l));
    --color-brand-primary-gradient: linear-gradient(to right bottom,hsl(var(--h),var(--s),84%),var(--color-brand-primary-base));
    --color-background-base: hsl(var(--h),var(--s),91%);
    --color-background-alt: #fff;
    --color-background-acrylic: hsla(0,0%,100%,0.72);
    --color-background-acrylic-backdrop: saturate(180%) blur(1.25rem);
    --color-ink-base: hsl(var(--h),30%,37%);
    --color-ink-title: var(--color-ink-base);
    --color-ink-2ry: hsl(var(--h),30%,48%);
    --color-ink-3ry: hsl(var(--h),30%,64%);
    --color-ink-border: hsl(var(--h),30%,80%);
    --color-ink-shadow: var(--h) 10% 10%;
    --color-ink-accent: hsl(var(--color-ink-shadow)/.04);
    --color-ink-link: hsl(var(--h) var(--s) 35%);
    --color-ink-link-hover: hsl(var(--h),var(--s),30%);
    --color-ink-inverse-base: hsla(0, 0%, 100%, 0.87);
    --color-ink-inverse-title: var(--color-ink-inverse-base);
    --color-ink-inverse-2ry: hsla(0, 0%, 100%, 0.54);
    --color-ink-inverse-3ry: hsla(0, 0%, 100%, 0.38);
    --color-ink-inverse-border: hsla(0, 0%, 100%, 0.12);
    --color-background-primary-dark: var(--color-ink-link);
    --color-ink-primary-fill: hsl(var(--h),var(--s),45%);
    --color-ink-primary-text: var(--color-ink-link);
    --color-ink-primary-border: hsl(var(--h),var(--s),79%);
    --color-background-error: hsl(var(--h-red),var(--s-red),93%);
    --color-ink-error-fill: hsl(var(--h-red),var(--s-red),55%);
    --color-ink-error-text: hsl(var(--h-red),var(--s-red),43%);
    --color-ink-error-border: hsl(var(--h-red),var(--s-red),var(--l-red));
    --color-background-warning: hsl(var(--h-yellow),var(--s-yellow),78%);
    --color-ink-warning-base: hsl(var(--h-yellow),var(--s-yellow),var(--l-yellow));
    --color-ink-warning-fill: hsl(var(--h-yellow),var(--s-yellow),31%);
    --color-ink-warning-text: hsl(var(--h-yellow),var(--s-yellow),24%);
    --color-background-success: hsl(var(--h-green),var(--s-green),89%);
    --color-ink-success-fill: hsl(var(--h-green),var(--s-green),41%);
    --color-ink-success-text: hsl(var(--h-green),var(--s-green),32%);
    --color-background-info: var(--color-background-base);
    --color-ink-info-fill: var(--color-ink-primary-fill);
    --color-ink-info-text: var(--color-ink-primary-text);
    --color-scrim-base: rgba(0,0,0,0.56);
    --color-brightness-hover: 1.2;
    --font-family-base: -apple-system,"Helvetica Neue",Roboto,Helvetica,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-title: -apple-system,"Inter","Helvetica Neue",Roboto,Helvetica,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-size-hero-title: 3.125rem;
    --font-line-height-hero-title: 1.12;
    --font-weight-hero-title: 300;
    --size-padding-top-hero-title: 0.125rem;
    --size-padding-bottom-hero-title: 0.875rem;
    --font-size-title: 2.3125rem;
    --font-line-height-title: 1.0810810811;
    --font-weight-title: 400;
    --size-padding-top-title: 0.4375rem;
    --size-padding-bottom-title: 0.0625rem;
    --size-margin-top-title-minus: -1.5rem;
    --font-size-subhead-h2: 1.75rem;
    --font-line-height-subhead-h2: 1.1428571429;
    --font-weight-subhead-h2: 500;
    --size-padding-top-subhead-h2: 1.375rem;
    --size-padding-bottom-subhead-h2: 1.125rem;
    --size-margin-top-subhead-h2-plus: 0;
    --font-size-big: 1.3125rem;
    --font-line-height-big: 1.1428571429;
    --font-weight-big: 500;
    --size-padding-top-big: 0.3125rem;
    --size-padding-bottom-big: 1.1875rem;
    --size-margin-top-subhead-plus: 1.5rem;
    --font-size-base: 1rem;
    --font-line-height-base: 1.5;
    --size-padding-top-base: 0.375rem;
    --size-padding-bottom-base: 1.125rem;
    --font-size-small: 0.75rem;
    --font-line-height-small: 1.333;
    --size-padding-top-small: 0.8125rem;
    --size-padding-bottom-small: 0.6875rem;
    --size-padding-bottom-li: 0.125rem;
    --size-padding-bottom-list: 1rem;
    --size-max-width-container: 8.5rem;
    --size-gutter-base: 1rem;
    --size-gutter-lg: 1.5rem;
    --size-gutter-xl: 2.5rem;
    --size-border-width: 0.0625rem;
    --shape-border-radius-sm: 0.5rem;
    --shape-border-radius-base: 0.5rem;
    --shape-border-radius-lg: 1.5rem;
    --shape-border-radius-xl: 1.5rem;
    --shape-border-radius-pill: 100rem;
    --layer-box-shadow-contour: 0 0 0 0.0625rem hsl(var(--color-ink-shadow)/.06);
    --layer-box-shadow-z1: 0 0.0625rem 0 rgba(0,0,0,.06);
    --layer-box-shadow-z2: 0 0.0625rem 0.0625rem hsl(var(--color-ink-shadow)/.04) 0 0.0625rem 0.125rem hsl(var(--color-ink-shadow)/.04),0 0.125rem 0.25rem hsl(var(--color-ink-shadow)/.04),0 0.25rem 0.4375rem hsl(var(--color-ink-shadow)/.05),0 0.5625rem 1rem hsl(var(--color-ink-shadow)/.07);
    --layer-box-shadow-z3: 0 0.125rem 0.0625rem hsl(var(--color-ink-shadow)/.02),0 0.1875rem 0.125rem hsl(var(--color-ink-shadow)/.03),0 0.3125rem 0.3125rem hsl(var(--color-ink-shadow)/.04),0 0.5625rem 0.5625rem hsl(var(--color-ink-shadow)/.04),0 1.0625rem 1rem hsl(var(--color-ink-shadow)/.05),0 2.4375rem 2.3125rem hsl(var(--color-ink-shadow)/.07);
    --layer-box-shadow-z4: 0 0.125rem 0.125rem hsl(var(--color-ink-shadow)/.02),0 0.3125rem 0.25rem hsl(var(--color-ink-shadow)/.03),0 0.5625rem 0.4375rem hsl(var(--color-ink-shadow)/.04),0 0.9375rem 0.8125rem hsl(var(--color-ink-shadow)/.04),0 1.8125rem 1.5rem hsl(var(--color-ink-shadow)/.05),0 4.375rem 3.6875rem hsl(var(--color-ink-shadow)/.07);
    --layer-box-shadow-z5: 0 0.1875rem 0.125rem hsl(var(--color-ink-shadow)/.02),0 0.4375rem 0.3125rem hsl(var(--color-ink-shadow)/.03),0 0.8125rem 0.625rem hsl(var(--color-ink-shadow)/.04),0 1.375rem 1.125rem hsl(var(--color-ink-shadow)/.04),0 2.625rem 2.0625rem hsl(var(--color-ink-shadow)/.05),0 6.25rem 5rem hsl(var(--color-ink-shadow)/.07);
    --layer-zindex-header: 1000;
    --layer-zindex-dropdown: 1010;
    --layer-zindex-sticky: 1020;
    --layer-zindex-popover: 1030;
    --layer-zindex-tooltip: 1040;
    --layer-zindex-fixed-scrim: 1050;
    --layer-zindex-fixed: 1060;
    --layer-zindex-scrim: 1070;
    --layer-zindex-drawer: 1080;
    --layer-zindex-modal: 1090;
    --size-width-xs: 12.5rem;
    --size-width-sm: 16.5rem;
    --size-width-base: 20rem;
    --size-width-md: 40rem;
    --size-width-lg: 50rem;
    --size-width-readable: 60ch;
    --size-height-icon: 1.5rem;
    --size-height-button: 3rem;
    --asset-data-image-list-bullet: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 4a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z' fill='%2388a8bf'/%3E%3C/svg%3E");
    --asset-data-image-chevron-down: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 8 4 4 4-4' stroke='%2388A8BF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    --motion-duration-sm: .195s;
    --motion-duration-base: .225s;
    --motion-duration-lg: .375s;
    --motion-easing-base: cubic-bezier(.4,0,.2,1);
    --motion-easing-appearance: cubic-bezier(0,0,.2,1);
    --motion-easing-disappearance: cubic-bezier(.4,0,1,1);
    --motion-easing-bounce: cubic-bezier(.175,.885,.32,1.275);
    --size-padding-x-box: 1rem;
    --size-padding-x-container: 1.25rem;
    --size-space-base: 1.5rem;
    --size-margin-top-table: 1.5rem;
    --size-margin-bottom-table: 1.5rem;
    --size-padding-x-cell: 1rem;
    --size-padding-y-cell: 1rem;
    --color-background-input: var(--color-background-alt);
    --size-padding-bottom-form-group: 0.5rem;
    --size-padding-y-input: 0.6875rem;
    --size-padding-right-input: 1rem;
    --size-padding-left-input: 1rem;
    --size-padding-top-label: 0.375rem;
    --size-padding-bottom-label: 0.125rem;
    --size-padding-top-form-actions: 0;
    --size-padding-bottom-form-actions: 0.5rem;
    --size-padding-top-select: 0.6875rem;
    --size-padding-bottom-select: 0.6875rem;
    --size-padding-top-label-option: 0.625rem;
}
@media screen and (min-width: 1024px) {
    :root {
        --size-gutter-lg:2.5rem
    }
}
@media screen and (min-width: 768px) {
    :root {
        --size-padding-x-container:2.5rem;
        --size-padding-x-box: 1.5rem;
        --size-space-base: 4.5rem;
        --size-width-sidebar: 6rem
    }
}
@media screen and (min-width: 1360px) {
    :root {
        --size-padding-x-box:2.5rem;
        --size-width-sidebar: 17rem
    }
}
:where(:not(iframe):not(footer):not(canvas):not(img):not(svg):not(video):not(svg *):not(symbol *)) {
    all: unset;
    display: revert
}
*,:after,:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
a,button {
    cursor: revert
}
ul {
    list-style: none
}
img {
    max-width: 100%
}
:where([hidden]) {
    display: none
}
:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    -webkit-line-break: after-white-space;
    word-wrap: break-word
}
:where([draggable=true]) {
    -webkit-user-drag: element
}
html {
    scroll-behavior: smooth
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: hsl(205,100%,91%);
    background-color: var(--color-background-base);
    color: hsl(205,30%,37%);
    color: var(--color-ink-base);
    font-family: -apple-system,"Helvetica Neue",Roboto,Helvetica,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-family: var(--font-family-base);
    font-size: 1rem;
    font-size: var(--font-size-base);
    font-weight: 400;
    line-height: 1.5;
    line-height: var(--font-line-height-base);
    text-align: left
}
a {
    word-wrap: break-word;
    color: hsl(205, 100%, 35%);
    color: var(--color-ink-link);
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition: color .195s;
    -webkit-transition: color var(--motion-duration-sm);
    transition: color .195s;
    transition: color var(--motion-duration-sm)
}
a:hover {
    color: hsl(128,44%,32%);
    color: var(--color-ink-success-text);
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-underline-offset: 0.125rem
}
@supports ((-webkit-text-decoration-skip: ink) or ((-webkit-text-decoration-skip: ink) or ((-webkit-text-decoration-skip: ink) or (text-decoration-skip-ink: auto)))) {
    a:hover {
        -webkit-text-decoration-skip:ink;
        text-decoration-skip-ink: auto;
        text-underline-offset: 0.0625rem
    }
}
a:focus {
    outline: 0.025rem solid hsla(205,100%,51%,.5);
    outline: 0.025rem solid hsla(var(--h-blue),var(--s),var(--l),.5);
    outline-offset: 0.125rem
}
p {
    font-family: -apple-system,"Helvetica Neue",Roboto,Helvetica,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-family: var(--font-family-base);
    font-size: 1rem;
    font-size: var(--font-size-base);
    font-weight: 400;
    line-height: 1.5;
    line-height: var(--font-line-height-base);
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1.125rem;
    padding-bottom: var(--size-padding-bottom-base);
    padding-top: 0.375rem;
    padding-top: var(--size-padding-top-base)
}
.label {
    -webkit-animation: none 0s ease 0s 1 normal none running;
            animation: none 0s ease 0s 1 normal none running;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
    border: medium none currentcolor;
    border-collapse: separate;
    -o-border-image: none;
       border-image: none;
    border-radius: 0;
    border-spacing: 0;
    bottom: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: #000;
    -webkit-columns: auto;
       -moz-columns: auto;
            columns: auto;
    -webkit-column-count: auto;
       -moz-column-count: auto;
            column-count: auto;
    -webkit-column-fill: balance;
       -moz-column-fill: balance;
            column-fill: balance;
    -webkit-column-gap: normal;
       -moz-column-gap: normal;
            column-gap: normal;
    -webkit-column-rule: medium none currentcolor;
       -moz-column-rule: medium none currentcolor;
            column-rule: medium none currentcolor;
    -webkit-column-span: 1;
       -moz-column-span: 1;
            column-span: 1;
    -webkit-column-width: auto;
       -moz-column-width: auto;
            column-width: auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    display: inline;
    empty-cells: show;
    float: none;
    font-family: serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    height: auto;
    -ms-hyphens: none;
        hyphens: none;
    left: auto;
    letter-spacing: normal;
    list-style: disc outside none;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    orphans: 2;
    outline: medium none currentcolor;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    -webkit-perspective: none;
            perspective: none;
    -webkit-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
    position: static;
    right: auto;
    -moz-tab-size: 8;
      -o-tab-size: 8;
         tab-size: 8;
    table-layout: auto;
    text-align: left;
    -moz-text-align-last: auto;
         text-align-last: auto;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    top: auto;
    -webkit-transform: none;
            transform: none;
    -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;
    -webkit-transform-style: flat;
            transform-style: flat;
    -webkit-transition: none 0s ease 0s;
    transition: none 0s ease 0s;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 2;
    width: auto;
    word-spacing: normal;
    z-index: auto;
    all: initial
}
.btn,.label,.menu__item>a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: -apple-system,"Helvetica Neue",Roboto,Helvetica,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-family: var(--font-family-base);
    font-size: 0.75rem;
    font-size: var(--font-size-small);
    font-weight: 400;
    letter-spacing: 0.0625rem;
    line-height: 1.333;
    line-height: var(--font-line-height-small);
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase
}
a .label {
    cursor: pointer
}
.backdrop {
    background-color: rgba(0,0,0,0.56);
    background-color: var(--color-scrim-base);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: opacity .225s;
    -webkit-transition: opacity var(--motion-duration-base);
    transition: opacity .225s;
    transition: opacity var(--motion-duration-base);
    z-index: 1050;
    z-index: var(--layer-zindex-fixed-scrim)
}
.backdrop.is-on {
    opacity: 1
}
h1 {
    -webkit-font-feature-settings: "kern" 1,"liga" 1;
    font-feature-settings: "kern" 1,"liga" 1;
    color: hsl(205,30%,37%);
    color: var(--color-ink-title);
    font-family: -apple-system,"Inter","Helvetica Neue",Roboto,Helvetica,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-family: var(--font-family-title)
}
@media (min-width: 1024px) {
    h1 {
        letter-spacing:-0.0625rem
    }
}
h1 {
    font-size: 2.3125rem;
    font-size: var(--font-size-title);
    font-weight: 400;
    font-weight: var(--font-weight-title);
    line-height: 1.0810810811;
    line-height: var(--font-line-height-title);
    margin: 0;
    padding-bottom: 0.0625rem;
    padding-bottom: var(--size-padding-bottom-title);
    padding-top: 0.4375rem;
    padding-top: var(--size-padding-top-title)
}
.icon {
    --icon-fill: var(--color-ink-3ry);
    --icon-stroke: var(--color-ink-3ry);
    --icon-stroke-width: 2;
    -ms-flex-negative: 0;
    display: inline-block;
    flex-shrink: 0;
    height: 1.5rem;
    height: var(--size-height-icon);
    opacity: 1;
    overflow: hidden;
    -webkit-transition: fill .195s,opacity .195s;
    -webkit-transition: fill var(--motion-duration-sm),opacity var(--motion-duration-sm);
    -webkit-transition: fill .195s, opacity .195s;
    transition: fill .195s, opacity .195s;
    -webkit-transition: fill var(--motion-duration-sm), opacity var(--motion-duration-sm);
    transition: fill var(--motion-duration-sm), opacity var(--motion-duration-sm);
    vertical-align: -0.025rem;
    width: 1.5rem;
    width: var(--size-height-icon)
}
a .icon {
    cursor: pointer
}
@media (-webkit-min-device-pixel-ratio: 1.25),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:1.25dppx),(min-resolution:120dpi),print {
    .icon {
        --icon-stroke-width:1.5
    }
}
.icon.is-off {
    opacity: 0
}
ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1rem;
    padding-bottom: var(--size-padding-bottom-list);
    padding-top: 0
}
li {
    padding-bottom: 0.125rem;
    padding-bottom: var(--size-padding-bottom-li);
    padding-top: 0.375rem;
    padding-top: var(--size-padding-top-base)
}
ul {
    list-style-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 4a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z' fill='%2388a8bf'/%3E%3C/svg%3E");
    list-style-image: var(--asset-data-image-list-bullet);
    padding-left: 1rem
}
@media (min-width: 768px) {
    ul {
        padding-left:0
    }
}
figure {
    margin-bottom: 1.5rem;
    margin-top: 0
}
#qwt-app .header__user,.btn,.btn.is-ghost {
    --display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    display: var(--display);
    font-weight: 400;
    justify-content: center;
    line-height: 1;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap
}
#qwt-app .header__user:focus,.btn:focus {
    outline: 0
}
.btn {
    --padding: 0.125rem 1rem 0;
    border-radius: 0.5rem;
    border-radius: var(--shape-border-radius-base);
    font-weight: 500;
    height: 2.5rem;
    padding: 0.125rem 1rem 0;
    padding: var(--padding)
}
.btn,.btn:hover {
    -webkit-text-decoration: none;
    text-decoration: none
}
.btn:active {
    -webkit-box-shadow: inset 0 0 0 0.0625rem hsl(205,30%,80%),inset 0 0.1875rem 0.3125rem hsl(205,30%,80%),inset 0 0 0 6.25rem hsla(205, 10%, 10%, 0.04);
    -webkit-box-shadow: inset 0 0 0 0.0625rem hsl(205,30%,80%),inset 0 0.1875rem 0.3125rem hsl(205,30%,80%),inset 0 0 0 6.25rem hsl(205 10% 10%/.04);
    -webkit-box-shadow: inset 0 0 0 0.0625rem var(--color-ink-border),inset 0 0.1875rem 0.3125rem var(--color-ink-border),inset 0 0 0 6.25rem var(--color-ink-accent);
    box-shadow: inset 0 0 0 0.0625rem hsl(205,30%,80%),inset 0 0.1875rem 0.3125rem hsl(205,30%,80%),inset 0 0 0 6.25rem hsla(205, 10%, 10%, 0.04);
    box-shadow: inset 0 0 0 0.0625rem hsl(205,30%,80%),inset 0 0.1875rem 0.3125rem hsl(205,30%,80%),inset 0 0 0 6.25rem hsl(205 10% 10%/.04);
    box-shadow: inset 0 0 0 0.0625rem var(--color-ink-border),inset 0 0.1875rem 0.3125rem var(--color-ink-border),inset 0 0 0 6.25rem var(--color-ink-accent)
}
.btn:active:focus,.btn:focus {
    outline: 0
}
@media (min-width: 768px) {
    .btn {
        --padding:0.125rem 1.5rem 0
    }
}
.btn.is-ghost {
    background-color: transparent;
    color: hsl(205, 100%, 35%);
    color: var(--color-ink-link)
}
.btn.is-ghost:hover {
    -webkit-text-decoration: none;
    text-decoration: none
}
.btn.is-ghost:focus {
    -webkit-box-shadow: var(--layer-box-shadow-focus-outline);
    box-shadow: var(--layer-box-shadow-focus-outline)
}
#qwt-app .footer__field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    background-color: var(--color-background-input);
    background-image: none;
    border: 0.0625rem solid hsl(205,30%,80%);
    border: var(--size-border-width) solid var(--color-ink-border);
    border-radius: 0.5rem;
    border-radius: var(--shape-border-radius-sm);
    color: hsl(205,30%,48%);
    color: var(--color-ink-2ry);
    display: block;
    margin: 0;
    overflow: visible;
    padding: 0.6875rem 1rem 0.6875rem 1rem;
    padding: var(--size-padding-y-input) var(--size-padding-right-input) var(--size-padding-y-input) var(--size-padding-left-input);
    -webkit-transition: border-color cubic-bezier(.4,0,.2,1) .195s;
    -webkit-transition: border-color var(--motion-easing-base) var(--motion-duration-sm);
    transition: border-color cubic-bezier(.4,0,.2,1) .195s;
    transition: border-color var(--motion-easing-base) var(--motion-duration-sm);
    width: 100%
}
#qwt-app .footer__field:focus {
    border-color: hsl(205,100%,51%);
    border-color: var(--color-brand-primary-base);
    -webkit-box-shadow: var(--layer-box-shadow-focus-outline);
    box-shadow: var(--layer-box-shadow-focus-outline);
    color: hsl(205,30%,37%);
    color: var(--color-ink-base);
    outline: 0
}
#qwt-app .footer__field::-webkit-input-placeholder {
    color: hsl(205,30%,64%);
    color: var(--color-ink-3ry);
    opacity: 1
}
#qwt-app .footer__field::-moz-placeholder {
    color: hsl(205,30%,64%);
    color: var(--color-ink-3ry);
    opacity: 1
}
#qwt-app .footer__field:-ms-input-placeholder {
    color: hsl(205,30%,64%);
    color: var(--color-ink-3ry);
    opacity: 1
}
#qwt-app .footer__field::-ms-input-placeholder {
    color: hsl(205,30%,64%);
    color: var(--color-ink-3ry);
    opacity: 1
}
input::-webkit-calendar-picker-indicator {
    opacity: 0
}
.float {
    background-color: #fff;
    background-color: var(--color-background-alt);
    border: 0;
    border-radius: 0.5rem;
    border-radius: var(--shape-border-radius-base);
    -webkit-box-shadow: 0 0 0 0.0625rem hsla(205, 10%, 10%, 0.06),0 0.125rem 0.0625rem hsla(205, 10%, 10%, 0.02),0 0.1875rem 0.125rem hsla(205, 10%, 10%, 0.03),0 0.3125rem 0.3125rem hsla(205, 10%, 10%, 0.04),0 0.5625rem 0.5625rem hsla(205, 10%, 10%, 0.04),0 1.0625rem 1rem hsla(205, 10%, 10%, 0.05),0 2.4375rem 2.3125rem hsla(205, 10%, 10%, 0.07);
    -webkit-box-shadow: var(--layer-box-shadow-contour),var(--layer-box-shadow-z3);
    box-shadow: 0 0 0 0.0625rem hsla(205, 10%, 10%, 0.06),0 0.125rem 0.0625rem hsla(205, 10%, 10%, 0.02),0 0.1875rem 0.125rem hsla(205, 10%, 10%, 0.03),0 0.3125rem 0.3125rem hsla(205, 10%, 10%, 0.04),0 0.5625rem 0.5625rem hsla(205, 10%, 10%, 0.04),0 1.0625rem 1rem hsla(205, 10%, 10%, 0.05),0 2.4375rem 2.3125rem hsla(205, 10%, 10%, 0.07);
    box-shadow: var(--layer-box-shadow-contour),var(--layer-box-shadow-z3);
    color: hsl(205,30%,48%);
    color: var(--color-ink-2ry);
    float: none;
    list-style: none;
    margin: 0;
    opacity: 0;
    padding: 1rem 1rem 0.5rem;
    pointer-events: none;
    position: absolute;
    text-align: left;
    -webkit-transition: opacity .195s;
    -webkit-transition: opacity var(--motion-duration-sm);
    transition: opacity .195s;
    transition: opacity var(--motion-duration-sm);
    visibility: hidden;
    width: 16.5rem;
    width: var(--size-width-sm);
    z-index: 1010;
    z-index: var(--layer-zindex-dropdown)
}
@media (min-width: 568px) {
    .float {
        width:20rem;
        width:var(--size-width-base)
    }
}
.float.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible
}
.alert {
    border-radius: 0.5rem;
    border-radius: var(--shape-border-radius-sm);
    -webkit-box-shadow: inset 0 0 0 0.0625rem hsl(205,30%,80%),0 0.0625rem 0 rgba(0,0,0,.06);
    -webkit-box-shadow: inset 0 0 0 0.0625rem hsl(205,30%,80%),0 1px 0 rgba(0,0,0,.06);
    -webkit-box-shadow: inset 0 0 0 0.0625rem var(--color-ink-border),var(--layer-box-shadow-z1);
    box-shadow: inset 0 0 0 0.0625rem hsl(205,30%,80%),0 0.0625rem 0 rgba(0,0,0,.06);
    box-shadow: inset 0 0 0 0.0625rem hsl(205,30%,80%),0 1px 0 rgba(0,0,0,.06);
    box-shadow: inset 0 0 0 0.0625rem var(--color-ink-border),var(--layer-box-shadow-z1);
    margin-bottom: 1.5rem;
    padding: 1rem;
    padding: var(--size-padding-x-box);
    position: relative
}
.alert.is-global {
    background-color: hsl(50,94%,78%);
    background-color: var(--color-background-warning);
    border-radius: 0;
    -webkit-box-shadow: inset 0 -0.0625rem 0 hsl(205,30%,80%),0 0.0625rem 0 rgba(0,0,0,.06);
    -webkit-box-shadow: inset 0 -0.0625rem 0 hsl(205,30%,80%),0 1px 0 rgba(0,0,0,.06);
    -webkit-box-shadow: inset 0 -0.0625rem 0 var(--color-ink-border),var(--layer-box-shadow-z1);
    box-shadow: inset 0 -0.0625rem 0 hsl(205,30%,80%),0 0.0625rem 0 rgba(0,0,0,.06);
    box-shadow: inset 0 -0.0625rem 0 hsl(205,30%,80%),0 1px 0 rgba(0,0,0,.06);
    box-shadow: inset 0 -0.0625rem 0 var(--color-ink-border),var(--layer-box-shadow-z1);
    margin-bottom: 0;
    padding: 1.5rem 1rem;
    padding: 1.5rem 16px;
    padding: 1.5rem var(--size-padding-x-box);
    text-align: center
}
.alert.is-global>p {
    margin: 0 auto;
    max-width: 4.25rem;
    min-height: 3rem;
    padding-left: 4rem;
    position: relative;
    text-align: left
}
.alert.is-global>p .icon {
    height: 3.25rem;
    left: 0;
    position: absolute;
    top: -0.125rem;
    width: 3.25rem
}
.menu__item {
    padding-bottom: 0;
    padding-top: 0
}
.menu__item>a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0.5rem;
    border-radius: var(--shape-border-radius-sm);
    color: hsl(205,30%,48%);
    color: var(--color-ink-2ry);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 2.5rem;
    padding: .2rem 1rem;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition: background .195s;
    -webkit-transition: background var(--motion-duration-sm);
    transition: background .195s;
    transition: background var(--motion-duration-sm);
    width: 100%
}
.menu__item>a:focus,.menu__item>a:hover {
    background-color: hsla(205, 10%, 10%, 0.04);
    background-color: var(--color-ink-accent);
    -webkit-text-decoration: none;
    text-decoration: none
}
.menu__item>a .icon {
    margin-right: 1rem
}
.menu__item>a>.label {
    color: hsl(205,30%,48%);
    color: var(--color-ink-2ry);
    -webkit-transform: translateY(.1rem);
    transform: translateY(.1rem)
}
body,html {
    margin: 0;
    padding: 0
}
html {
    overflow: hidden
}
body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: stretch;
    min-height: 100vh
}
#qwt-app {
    -webkit-box-flex: 1;
    background: -webkit-gradient(linear,left top, right bottom,from(hsl(205,100%,84%)),to(hsl(205,100%,51%)));
    background: linear-gradient(to right bottom,hsl(205,100%,84%),hsl(205,100%,51%));
    background: var(--color-brand-primary-gradient);
    -ms-flex: 1;
    flex: 1
}
#qwt-app main {
    max-height: 100vh;
    overflow-y: auto;
    padding-top: 6rem
}
#qwt-app .chat {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 49rem;
    padding: 1.25rem 1.25rem 7.5rem
}
#qwt-app .footer__container,#qwt-app .header__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 49rem
}
#qwt-app .chat__actions {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1.5rem
}
#qwt-app .chat__actions .btn .icon {
    --icon-stroke: var(--color-ink-link);
    margin-right: 0.5rem;
    opacity: .5;
    -webkit-transform: translateY(-0.0625rem);
    transform: translateY(-0.0625rem)
}
#qwt-app .footer {
    backdrop-filter: saturate(180%) blur(1.25rem);
    backdrop-filter: var(--color-background-acrylic-backdrop);
    background-color: hsla(0,0%,100%,0.72);
    background-color: var(--color-background-acrylic);
    bottom: 0;
    height: 3.5rem;
    left: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: fixed;
    right: 0;
    z-index: 1060;
    z-index: var(--layer-zindex-fixed)
}
#qwt-app .footer__container {
    padding-top: 0.25rem;
    position: relative
}
#qwt-app .footer .btn {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0;
    width: 2.5rem
}
#qwt-app .btn.is-audio,#qwt-app .btn.is-send {
    pointer-events: all;
    -webkit-transition: opacity .195s;
    -webkit-transition: opacity var(--motion-duration-sm);
    transition: opacity .195s;
    transition: opacity var(--motion-duration-sm)
}
#qwt-app .btn.is-audio .icon,#qwt-app .btn.is-send .icon {
    --icon-stroke: var(--color-ink-info-fill)
}
#qwt-app .btn.is-audio.is-off,#qwt-app .btn.is-send.is-off {
    opacity: 0;
    pointer-events: none
}
#qwt-app .btn.is-send {
    bottom: 0.25rem;
    position: absolute;
    right: 0;
    width: 2.5rem
}
#qwt-app .footer__field {
    margin-left: 0.5rem;
    margin-right: 0.5rem
}
#qwt-app .header {
    backdrop-filter: saturate(180%) blur(1.25rem);
    backdrop-filter: var(--color-background-acrylic-backdrop);
    background-color: #fff;
    height: 4.5rem;
    left: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1060;
    z-index: var(--layer-zindex-fixed)
}
#qwt-app .header__container {
    padding-top: 1.375rem;
    position: relative
}
#qwt-app .header__bot {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background-color: #fff;
    background-color: var(--color-background-alt);
    border-radius: 100rem;
    border-radius: var(--shape-border-radius-pill);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-right: 1rem;
    padding: 0;
    width: 2.5rem
}
#qwt-app .header__bot img {
    height: 2.5rem;
    width: 2.5rem
}
#qwt-app .header__bot-name {
    -webkit-box-flex: 1;
    color: hsl(205,30%,48%);
    color: var(--color-ink-2ry);
    -ms-flex: 1;
    flex: 1
}
#qwt-app .header__user {
    -ms-flex-negative: 0;
    border-radius: 100rem;
    border-radius: var(--shape-border-radius-pill);
    flex-shrink: 0;
    overflow: hidden;
    padding: 0;
    width: 2.5rem
}
#qwt-app .header__user img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
    width: 100%
}
#qwt-app .header__menu {
    right: 0;
    top: 3.5rem
}
#qwt-app .header__menu ul {
    list-style: none;
    padding-left: 0
}
#qwt-app .message {
    --message-actions-width: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.5rem
}
#qwt-app .message.is-last {
    margin-bottom: 1.5rem
}
#qwt-app .message.is-inbound {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}
#qwt-app .message__spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}
#qwt-app .message__actions {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -ms-flex-negative: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    min-width: var(--message-actions-width);
    padding-right: 0.5rem
}
#qwt-app .message__actions .btn {
    opacity: 0;
    -webkit-transition: opacity .225s,background .225s;
    -webkit-transition: opacity var(--motion-duration-base),background var(--motion-duration-base);
    -webkit-transition: opacity .225s, background .225s;
    transition: opacity .225s, background .225s;
    -webkit-transition: opacity var(--motion-duration-base), background var(--motion-duration-base);
    transition: opacity var(--motion-duration-base), background var(--motion-duration-base)
}
#qwt-app .message__actions .btn:hover {
    background-color: hsla(0,0%,100%,0.72);
    background-color: var(--color-background-acrylic)
}
#qwt-app .message__actions .btn .icon {
    --icon-stroke: var(--color-ink-2ry)
}
#qwt-app .message:hover .message__actions .btn {
    opacity: 1
}
#qwt-app .message__bubble {
    border-radius: 1.5rem;
    border-radius: var(--shape-border-radius-lg);
    max-width: calc(100% - var(--message-actions-width));
    word-wrap: break-word;
    padding: 0.5rem 1.25rem 0;
    position: relative;
    word-break: break-word
}
@media (min-width: 568px) {
    #qwt-app .message__bubble {
        max-width:27rem
    }
}
#qwt-app .message.is-outbound .message__bubble {
    background-color: #fff;
    background-color: var(--color-background-alt)
}
#qwt-app .message.is-inbound .message__bubble {
    background-color: hsl(205,100%,91%);
    background-color: var(--color-background-base)
}
#qwt-app .message.is-inbound.is-first .message__bubble:before,#qwt-app .message.is-outbound.is-last .message__bubble:before {
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 0.5rem;
    position: absolute;
    width: 1rem
}
#qwt-app .message.is-outbound.is-last .message__bubble {
    border-bottom-right-radius: 0
}
#qwt-app .message.is-outbound.is-last .message__bubble:before {
    background-image: url(/projects/assistant/images/components/structure-message/tip-outbound.svg);
    bottom: -0.5rem;
    right: 0
}
#qwt-app .message.is-inbound.is-first .message__bubble {
    border-top-left-radius: 0
}
#qwt-app .message.is-inbound.is-first .message__bubble:before {
    background-image: url(/projects/assistant/images/components/structure-message/tip-inbound.svg);
    left: 0;
    top: -0.5rem
}
#qwt-app .message.is-disabled p {
    opacity: .61
}
#qwt-app .message__string {
    display: inline-block;
    max-width: 24.5rem
}
#qwt-app .message__delivery {
    font-size: 0.75rem;
    font-size: var(--font-size-small);
    height: 0;
    line-height: 1.333;
    line-height: var(--font-line-height-small);
    overflow: hidden
}
#qwt-app .message.is-outbound .message__delivery {
    text-align: right
}
#qwt-app .message.is-outbound .message__media .message__delivery {
    -webkit-padding-end: 1.25rem;
    padding-right:1.25rem}
#qwt-app .message.is-inbound.is-first .message__delivery,#qwt-app .message.is-outbound.is-last .message__delivery {
    height: auto;
    overflow: visible;
    padding-bottom: 0.6875rem;
    padding-bottom: var(--size-padding-bottom-small);
    padding-top: 0.8125rem;
    padding-top: var(--size-padding-top-small)
}
#qwt-app .message.is-inbound.is-first .message__bubble .message__delivery,#qwt-app .message.is-outbound.is-last .message__bubble .message__delivery {
    color: hsl(205,30%,64%);
    color: var(--color-ink-3ry);
    margin-top: -2rem
}
#qwt-app .message__icon {
    display: inline-block;
    height: 1rem;
    position: relative;
    vertical-align: middle;
    width: 1rem
}
#qwt-app .message__icon:before {
    height: 1.25rem;
    left: -0.125rem;
    position: absolute;
    top: -0.25rem;
    width: 1.25rem
}
#qwt-app .message__icon.is-delivered:before,#qwt-app .message__icon.is-sent:before {
    -webkit-filter: invert(70%) sepia(10%) saturate(940%) hue-rotate(162deg) brightness(92%) contrast(85%);
    filter: invert(70%) sepia(10%) saturate(940%) hue-rotate(162deg) brightness(92%) contrast(85%)
}
#qwt-app .message__icon.is-sent:before {
    content: url(/projects/assistant/images/components/structure-message/icon-sm-check.svg)
}
#qwt-app .message__icon.is-delivered:before,#qwt-app .message__icon.is-viewed:before {
    content: url(/projects/assistant/images/components/structure-message/icon-sm-checks.svg)
}
#qwt-app .message__icon.is-viewed:before {
    -webkit-filter: invert(47%) sepia(79%) saturate(391%) hue-rotate(77deg) brightness(89%) contrast(84%);
    filter: invert(47%) sepia(79%) saturate(391%) hue-rotate(77deg) brightness(89%) contrast(84%)
}
#qwt-app .message__delivery time {
    opacity: 0
}
#qwt-app .message__gallery {
    -webkit-box-flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -0.25rem
}
#qwt-app .message__gallery-item {
    -webkit-box-flex: 50%;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 50%;
    flex: 50%;
    justify-content: stretch;
    margin-bottom: 0;
    padding: 0.25rem
}
#qwt-app .message__gallery-item.is-3rd {
    -webkit-box-flex: 33.33%;
    -ms-flex: 33.33%;
    flex: 33.33%
}
#qwt-app .message__image-zoom {
    -webkit-box-flex: 1;
    background-color: transparent;
    border-radius: 1.5rem;
    border-radius: var(--shape-border-radius-lg);
    cursor: pointer;
    -ms-flex: 1;
    flex: 1;
    max-height: 12.5rem;
    overflow: hidden;
    padding: 0
}
#qwt-app .message__image-zoom>img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}
.sr-only {
    clip: rect(0 0 0 0);
    border: 0;
    height: 0.0625rem;
    margin: -0.0625rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 0.0625rem
}
#qwt-app .header__bot-name,#qwt-app .message__string,.menu__item>a>.label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
@media print {
    .footer,.header {
        display: none!important
    }

    .btn {
        -webkit-text-decoration: none;
        text-decoration: none
    }
}
#qwt-app {
  background-image: url('/projects/most/images/alexai.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* Вот ключевая строчка */
}
#qwt-app .message.is-inbound .message__bubble {
  background-color: rgba(255, 255, 255, 0.8); /* белый с 70% непрозрачности */
}
#qwt-app .message.is-outbound .message__bubble {
  background-color: rgba(240, 248, 255, 0.85); /* голубоватый оттенок с 75% непрозрачности */
}
#qwt-app .message.is-inbound.is-first .message__bubble::before {
  content: "";
  position: absolute;
  top: -0.375rem;
  left: 0.75rem;
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.6); /* полупрозрачный хвостик */
  border-bottom-right-radius: 1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}
#qwt-app .message.is-outbound.is-last .message__bubble::before {
  content: "";
  position: absolute;
  bottom: -0.375rem;
  right: 0.75rem;
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-top-left-radius: 1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}