/* -------------------------------------------------------------------------- */
/* #region: HEADER                                                            */
/* -------------------------------------------------------------------------- */

/* Remove the strut */
div:empty[style*='height:80px;'] {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}

body {
  padding-top: 80px;
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: HEADER                                                            */
/* -------------------------------------------------------------------------- */

.logo {
  all: revert;
}

.site-header-link {
  &:hover, &:focus {
    background: transparent;
    text-decoration: none;
  }

  &.is-active {
    background: transparent;
    color: var(--color-text);

    .navigation-hover {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}

.site-header-cta {
  &, &:hover, &:focus {
    background: transparent;
    text-decoration: none;
  }

  @media only screen and (width >= 768px) and (height >= 341px) {
    display: none;
  }

  @media only screen and (width >= 1200px) and (height >= 341px) {
    display: block;
  }
}

@media screen and (width <= 991px) {
  .nav-menu {
    margin-top: 0;
    padding-top: var(--size-6);
  }
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: HEADER                                                            */
/* -------------------------------------------------------------------------- */

.maincontainer {
  margin-inline: auto;
}

.site-header-actions {
  @media only screen and (width >= 991px) and (height >= 341px) {
    display: none;
  }
}

.post-title:hover,
.navigation-link:hover,
.section-title-text-small > a:hover,
.banner-wrapper:hover,
.banner-wrapper2:hover,
.post-author:hover {
  text-decoration: none;
}

.link-footer,
.link-6, .link-7 {
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

h2, .h2 {
  letter-spacing: -0.5px;
}

.site-footer {
  margin-inline: auto;
  max-width: var(--width-container);
}

.postvote,
.postvotedplus,
.postvotedminus {
  font-size: 30px;
}

.posts-collection-list-wrapper {
  padding-bottom: 3rem;
}

/* #endregion */
